@use '@styles/variables' as vars;

.table {
    width: 100%;
    border: 1px solid vars.$light-grey-border;
    border-radius: vars.$border-radius-form;
    height: 100%;
    background-color: vars.$white;
    overflow: hidden;

    .header {
        padding: 1rem 0rem 0.6rem 1.5rem;
        border-bottom: 1px solid vars.$light-grey-border;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-left {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            .header-task-title {
                // width: 20rem;
                text-align: left;

            }

            .legend {
                display: flex;
                flex-direction: row;
                // margin-left: 1rem;
                font-size: 0.8rem;
                color: vars.$grey;
                gap: 1rem;

                .legend-item {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;

                    .icon-status {
                        width: 0.8rem;
                        height: 0.8rem;

                        &.status-to-do {
                            color: vars.$light-grey-2;
                            stroke-width: 1.5;
                        }

                        &.status-in-progress {
                            color: vars.$blue;
                            width: 0.9rem;
                            height: 0.9rem;
                        }

                        &.status-completed {
                            color: vars.$green;
                        }
                    }
                }
            }
        }

        .header-right {
            display: flex;

            .header-skill-title {
                width: 10rem;
                text-align: center;
                border-left: 1px solid vars.$light-grey-border;
            }

            .header-assignee-title {
                width: 14rem;
                text-align: center;
                border-left: 1px solid vars.$light-grey-border;
            }

            .header-status-title {
                width: 12rem;
                text-align: center;
                border-left: 1px solid vars.$light-grey-border;
            }
        }
    }

    .body {
        height: calc(100% - 4rem);
        overflow-y: scroll;

        .no-data{
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .footer{
            width: 100%;
            height: 1rem;
        }
    }
}