@use "@styles/variables" as vars;

.group-row {

    .row {
        display: flex;
        align-items: center;
        padding: 0.8rem 0rem 0.8rem 2rem;
        border-bottom: 1px solid vars.$light-grey-1;
        flex-direction: row;

        &:hover {
            background-color: vars.$light-grey;
        }

        .toggle-icon {
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
            cursor: pointer;
            transition: transform 0.3s ease;

            &.collapsed {
                transform: rotate(-180deg);
            }
        }

        .title {
            flex: 1;
            font-weight: 500;
            font-size: 1rem;
            color: vars.$dark-grey;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.8rem;

        }

        .row-right {
            display: flex;

            .skill {
                width: 10rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                gap: 0.4rem;
                font-size: 0.9rem;
                color: vars.$dark-grey;
            }

            .status {
                min-width: 12rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .status-dropdown {
                    width: 8rem;
                }
            }

            .assignee {
                min-width: 14rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .assignee-dropdown {
                    width: 10rem;
                }
            }

            .status-label {
                font-size: 0.85rem;
                font-family: vars.$base-font-family;
            }
        }
    }

    .children-rows {
        transition: height 0.3s ease;
        overflow: hidden;
    }
}