@use '@styles/variables' as vars;

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: vars.$gradient-light-grey;
    overflow: hidden;

    .outlet{
        display: flex;
        flex: 1;
        overflow: hidden;
    }
}